* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: hsl(217, 54%, 11%);
  max-width: 1710px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  max-width: 350px;
  width: 100%;
  height: 600px;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 10px 20px 40px,
    rgba(0, 0, 0, 0.22) 0px 20px 20px;
}

#image-equilibrium {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.card-image-wrapper {
  padding: 25px;
  position: relative;
}

.overlay-1 {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: 0.3s ease;
  background-image: url("images/icon-view.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card-image-wrapper:hover .overlay-1 {
  opacity: 1;
  cursor: pointer;
}

.overlay-2 {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: 0.3s ease;
  background-color: hsl(178, 100%, 50%);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card-image-wrapper:hover .overlay-2 {
  opacity: 0.2;
  cursor: pointer;
}

.card-title {
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding-left: 25px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  transition: 1s;
}

.card-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  padding-left: 25px;
}

.card-paragraph {
  color: hsl(215, 51%, 70%);
  padding: 20px 0px 0px 25px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
}

.container-wrapper {
  display: flex;
  gap: 107px;
  padding: 25px 25px 15px 25px;
}

.icon-container-1 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.icon-containet-2 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.icon-containet-1-text {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.icon-containet-2-text {
  color: hsl(215, 51%, 70%);
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.underline {
  width: 85%;
  margin-top: 10px;
}

.avatar-containet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0px 0px 25px;
  gap: 15px;
}

#image-avatar {
  width: 32px;
  height: 32px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 15px;
}

.avatar-containet-text {
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
  transition: 1s;
}

#text-part {
  color: hsl(215, 51%, 70%);
}

.avatar-containet-text:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
